In [3]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
#'ramesh age is 20'
#'suresh age is 30'
#'Sathish age is 40'

for i in range(len(l1)):
    print(f'{l1[i]} age is {l2[i]}')

Ramesh age is 20
Suresh age is 30
Sathish age is 40

**Zip**

In [10]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]


for i,j in zip(l1,l2):
    print(i,j)
    print(f'{i} age is {j}')

Ramesh 20
Ramesh age is 20
Suresh 30
Suresh age is 30
Sathish 40
Sathish age is 40

In [14]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]
l3=['Hyd','Mumbai','Chennai']

for i,j,k in zip(l1,l2,l3):
    
    print(f'{i} has age is {j} and he is from {k}')

Ramesh has age is 20 and he is from Hyd
Suresh has age is 30 and he is from Mumbai
Sathish has age is 40 and he is from Chennai

** Dictonary**

- string represent in Quotes

- list represent in sqare brackets

- tuple represent in pranthases

- sets represents in curly bras-ces with one value''- Dictonary also represnet in curly braces with two values

- Diconary has Key:value pair

- Dictonary elements are in pair

    - one element called as key
    - another element called values

In [ ]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,30,40]

{key:value}
{key2:value1,key2:values2,key3:value3}

In [17]:
dict1={'Ramesh':20,'suresh':30,'Sathish':40}
dict1

{'Ramesh': 20, 'suresh': 30, 'Sathish': 40}

In [19]:
type(dict1)

dict

In [ ]:
- initilization

- inbuilt functiom

 - max
 - min
-len
-sum
-sorted
-reversed

-

**initilization**

In [24]:
dict1={'Ramesh':20,'suresh':30,'Sathish':40}
dict2={20:'Ramesh'}
dict3={30:'Suresh'}
dict4={40:'Sathish'}
#key int value string
#key string value list vice versa
#key list value

In [26]:
d1={'Ramesh':20,'suresh':30,'Sathish':40}
d1

{'Ramesh': 20, 'suresh': 30, 'Sathish': 40}

In [28]:
d2={'Ramesh':'20','Suresh':'30','Sathish':'40'}
d2

{'Ramesh': '20', 'Suresh': '30', 'Sathish': '40'}

In [30]:
d3={20:'Ramesh',30:'Suresh',40:'Sathish'}
d3

{20: 'Ramesh', 30: 'Suresh', 40: 'Sathish'}

In [32]:
d4={'Ramesh':20,'Ramesh':30}
d4

# Keys are important
# when same keys but different value
# it will take differenet value

{'Ramesh': 30}

In [38]:
d5={'Ramesh':20,'Suresh':20}
d5

{'Ramesh': 20, 'Suresh': 20}

In [40]:
d6={'Ramesh':20,'Ramesh':20}
d6

# Duplicates are not allowed

{'Ramesh': 20}

In [72]:
d7={'Fruit':'Apple','Cost':10.5,'count':100,'ava':True}
d7

{'Fruit': 'Apple', 'Cost': 10.5, 'count': 100, 'ava': True}

In [44]:
d8={True:'Yes'}
d8

{True: 'Yes'}

In [48]:
d9={'age':[10,20,30]}
d9

# list can be value

{'age': [10, 20, 30]}

In [54]:
d10={[10,20,30]:'age'}
d10

TypeError: unhashable type: 'list'

In [52]:
d11={'age':(10,20,30)}
d11

{'age': (10, 20, 30)}

In [56]:
d12={(10,20,30):'age'}
d12

{(10, 20, 30): 'age'}

- list is mutable

- tuple is immutable

- so list cannot be a key

- **keys are important**

In [62]:
d13={(10,20,30):('A','B','C')}
d13

{(10, 20, 30): ('A', 'B', 'C')}

In [64]:
d14={(10,20,30):['A','B','C']}
d14

{(10, 20, 30): ['A', 'B', 'C']}

In [66]:
d15={[10,20,30]:('A','B','C')}
d15

TypeError: unhashable type: 'list'

In [68]:
d16={'Fruites':{'Apple':50}}
d16

{'Fruites': {'Apple': 50}}

In [70]:
d17={{'Apple':50}:'Fruites'}
d17

TypeError: unhashable type: 'dict'

In [ ]:
d1={'Ramesh':20,'suresh':30,'Sathish':40}
d2={'Ramesh':'20','Suresh':'30','Sathish':'40'}
d3={20:'Ramesh',30:'Suresh',40:'Sathish'}
d4={'Ramesh':20,'Ramesh':30,40:'Sathish'}
d5={'Ramesh':20,'Suresh':20}

In [94]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
d2={'Ramesh':'20','Suresh':'30','Sathish':'40'}
d3={20:'Ramesh',30:'Suresh',40:'Sathish'}
d4={'Ramesh':'20','Ramesh':30,40:'Sathish'}

# max
# min
# len
# sorted
# reversed
# sum

In [98]:
d1={'Ramesh':20,'Suresh':30,'Sathish':40}
max(d1),max(d2),max(d3)

('Suresh', 'Suresh', 40)

In [100]:
max(d4)

TypeError: '>' not supported between instances of 'int' and 'str'

In [102]:
min(d1),min(d2),min(d3)

('Ramesh', 'Ramesh', 20)

In [104]:
min(d4)

TypeError: '<' not supported between instances of 'int' and 'str'

In [106]:
len(d1),len(d2),len(d3)

(3, 3, 3)

In [108]:
len(d4)

2

In [112]:
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [114]:
sum(d3)

90

In [116]:
sum(d2)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [118]:
sum(d4)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [120]:
sorted(d1)

['Ramesh', 'Sathish', 'Suresh']

In [122]:
sorted(d2)

['Ramesh', 'Sathish', 'Suresh']

In [124]:
sorted(d3)

[20, 30, 40]

In [126]:
sorted(d4)

TypeError: '<' not supported between instances of 'int' and 'str'

In [142]:
list(reversed(d1))

['Sathish', 'Suresh', 'Ramesh']

In [144]:
list(reversed(d2))

['Sathish', 'Suresh', 'Ramesh']

In [146]:
list(reversed(d3))

[40, 30, 20]

In [148]:
list(reversed(d4))

[40, 'Ramesh']

In [138]:
sorted([1,100,30])

[1, 30, 100]

In [152]:
dic1={'Ramesh':20,'Suresh':30,100:40}
sorted(dic1)

TypeError: '<' not supported between instances of 'int' and 'str'

- max/min/sorted can work for homogeneous

- sum is only work for numbers only

- reversed can work for anyone

**index**

In [160]:
l=[10,20,30]
l[0]

10

In [162]:
s='python'
s[0]

'p'

In [164]:
dic2={'Ramesh':20,'Suresh':30}
dic2[0]

KeyError: 0

In [166]:
dic2['Ramesh']

20

In [170]:
dic3={'Ramesh':20,'Suresh':30,'Sathish':40}
dic3['Ramesh']   # 20
dic3['Suresh']   # 30
dic3['Sathish']  # 40

dic3[i]

40

In [172]:
dic3={'Ramesh':20,'Suresh':30,'Sathish':40}
for i in dic3:
    print(i,dic3[i])
    print(f'{i} has age : {dic3[i]}')

Ramesh 20
Ramesh has age : 20
Suresh 30
Suresh has age : 30
Sathish 40
Sathish has age : 40

- whenever we iterate dictionary using for loop in operator it will give keys 

- if want to get value we will access through keys onlu

- key will work as index

In [175]:
dic4={'Fruites':['Apple','Banana','Cherry']}
dic4['Fruites']

['Apple', 'Banana', 'Cherry']

In [177]:
dic4={'Fruites':['Apple','Banana','Cherry']}
dic4['Fruites'][2]

'Cherry'

In [183]:
dic5={'Fruites':{'Apple':['Sweet','Green','Custured']}}
dic5['Fruites']['Apple'][1]

'Green'

In [191]:
dic6={'Fruites':[{'Cost':[100,200,300]}]}
dic6['Fruites'][0]['Cost'][2]

300

In [193]:
dic7={'Fruites':['Apple'],'Cost':[{'1kg':[300,500],'2kg':['None']}]}
dic7['Cost'][0]['2kg'][0]

'None'

In [207]:
dic8={'Fruites':{'Mango':{'Nagpur':{'MH':{'King':{'Shivaji':{'Shambaji'}}}}}}}
dic8['Fruites']['Mango']['Nagpur']['MH']['King']['Shivaji']

{'Shambaji'}

In [209]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

clear
copy
items
values
keys
get
pop

**How to convert list to dictionary**

In [170]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]

# {'Ramesh': 20,'Suresh': 30,'Sathish': 40}
dict1={}
for i,j in zip(names,age):
    print(i,j)

Ramesh 20
Suresh 30
Sathish 40

In [172]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
dict1={}
dict1['Ramesh']=20
dict1['Suresh']=30
dict1['Sathish']=40
dict1[i]=j
dict1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [174]:
names=['Ramesh','Suresh','Sathish']
age=[20,30,40]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j

dict1

{'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

In [176]:
# strings to list  (Split)
# list to strings  (Join)
# list to dictionary
# dictionary to list

**How to convert dictionary to list**

In [163]:
d={'Ramesh': 20, 'Suresh': 30, 'Sathish': 40}

#iterate it print i====key
#using key how to get value
#take two empty list and append it

for i in d:
    print(i)

Ramesh
Suresh
Sathish

In [4]:
for key in d:
    print(key)
    print(d[key])

ramesh
20
suresh
30
sathish
40

In [68]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
keys,values=[],[]
for key in d:
    keys.append(key)
    values.append(d[key])

keys,values

(['Ramesh', 'Suresh', 'Satish'], [20, 30, 40])

In [22]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
keys=[key for key in d]
values=[d[key] for key in d]

**dictionary comprehension**

In [27]:
names=['Ramesh','Suresh','Satish']
age=[20,30,40]
d={key:value for key,value in zip(names,age)}
d

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40}

**mutable-immutable**

- list are mutable

- strings are immutable

- tuple are immutable

- dictionary also mutable we can modify the value of a dictionary

In [31]:
d

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40}

In [33]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d['Ramesh']=40
d

{'Ramesh': 40, 'Suresh': 30, 'Satish': 40}

- dictionary is similiar to database operations

- keys always unique but values can be change

**concatenation**

In [38]:
d1={'Ramesh':20}
d2={'Fruites':'Apple'}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

**items-values-keys**

In [43]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.items()

dict_items([('Ramesh', 20), ('Suresh', 30), ('Satish', 40)])

In [45]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.values()

dict_values([20, 30, 40])

In [47]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
d.keys()

dict_keys(['Ramesh', 'Suresh', 'Satish'])

In [49]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys=d.keys()
type(keys)

dict_keys

In [51]:
len(keys)

3

In [53]:
keys[0]

TypeError: 'dict_keys' object is not subscriptable

- dict_keys is a type of keys represented in a list

- it is looks like list but not list

- we can not use list methods here

- for that we need to convert dict_keys to list

In [56]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys=d.keys()
keys.to_list

AttributeError: 'dict_keys' object has no attribute 'to_list'

In [60]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
keys=d.keys()   # dict_keys type
list(keys)      # lsit type

['Ramesh', 'Suresh', 'Satish']

In [66]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
values=d.values()   # dict_values type
list(values)      # lsit type

[20, 30, 40]

In [64]:
d={'Ramesh': 20, 'Suresh': 30, 'Satish': 40}
items=d.items()   # dict_items type
list(items)      # lsit type

[('Ramesh', 20), ('Suresh', 30), ('Satish', 40)]

In [70]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
keys,values=[],[]
for key in d:
    keys.append(key)
    values.append(d[key])

keys,values

##########################################################################

d={'Ramesh':20,'Suresh':30,'Satish':40}
keys=[key for key in d]
values=[d[key] for key in d]

##############################################################################

d={'Ramesh':20,'Suresh':30,'Satish':40}
keys=list(d.keys())
values=list(d.values())

- When we ar using keys list, values list, then what is the use of items as list
- items: both are coming
- values: values
- keys: only keys

In [ ]:
d={'Ramesh':20,'Suresh':30,'Satish':40}

In [178]:
dir([])     # dir of list []

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [79]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
#d={'ramesh':'20','suresh':'30','satish':'40'}

In [81]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
keys=[i.lower() for i in list(d.keys())]
values=[str(i) for i in list(d.values())]
{key:value for key,value in zip(keys,values)}

{'ramesh': '20', 'suresh': '30', 'satish': '40'}

**get**

In [88]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
d.get

In [90]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
d.get('Ramesh')   # ans

20

In [92]:
d.get('Ram')   # result will ne none, no answer, no error

In [96]:
d['Ramesh']   # norway way-ans

20

In [98]:
d['Ram']    # error

KeyError: 'Ram'

**update**

In [101]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
d1={'Fruites':'Apple'}
d.update(d1)

In [105]:
d   # d1 got append/addon in d

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40, 'Fruites': 'Apple'}

In [107]:
d.update(Apple=200)
d

{'Ramesh': 20, 'Suresh': 30, 'Satish': 40, 'Fruites': 'Apple', 'Apple': 200}

In [109]:
d.update([200,'Marks'])

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [119]:
t=(200,'marks')
l=[t]
d.update(l)
d

{'Ramesh': 20,
 'Suresh': 30,
 'Satish': 40,
 'Fruites': 'Apple',
 'Apple': 200,
 200: 'marks'}

- concatenation of two dictionary fails

- but we can combine two dictionaries using update method

In [122]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
d1={'Fruites':'Apple'}
d.update(d1)     # dict in dict  ----->    {'Ramesh': 20, 'Suresh': 30, 'Satish': 40, 'Fruites': 'Apple'}
d.update(Apple=200)    # Ans ------>  {'Ramesh': 20, 'Suresh': 30, 'Satish': 40, 'Fruites': 'Apple', 'Apple': 200}
d.update([(200,'marks')])    # ans ----->    {'Ramesh': 20,'Suresh': 30,'Satish': 40,'Fruites': 'Apple','Apple': 200, 200: 'marks'}

In [180]:
dir({})     # dir of dictionary {}

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**pop-popitem**

In [125]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
d.pop('Ramesh')     # key

20

In [127]:
d

{'Suresh': 30, 'Satish': 40}

In [129]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
d.pop('r')

KeyError: 'r'

In [133]:
l=[100,200,333,444]
l.pop(2)   # index

333

In [135]:
l=[100,200,333,444]
l.remove(333)

In [137]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
d.popitem()

('Satish', 40)

In [139]:
d

{'Ramesh': 20, 'Suresh': 30}

- pop will expect a key, corresponding value will be removed

    - pop will return the **value which is removing**

- pop item  has no areguments, last key-value pair will be removed

    - pop item return last **key-value pair**

**del**

In [147]:
l=[100,200,333,444]
del l[0]
l

[200, 333, 444]

In [149]:
l=[100,200,333,444]
del l   # l is gone here
l

NameError: name 'l' is not defined

In [153]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
del d['Ramesh']
d

{'Suresh': 30, 'Satish': 40}

In [155]:
d={'Ramesh':20,'Suresh':30,'Satish':40}
del(d)
d

NameError: name 'd' is not defined

**ASSIGNMENT**

- count in strings also in list

- index in strings also in list

- find in strings but not in list

- pop in list also in dictionary

- remove in list but in dictionary pop item

- concatenation in list ====== extend in list

- access value using key in dict ===== get method

- del for list and dictionary 

- sorted and reversed for all data types

- strings to list

- list to strings

- list to dictionary

- dictionary to list