In [1]:
# method-1: [<output> <forloop>]
# method-2: [<output> <for loop> <if condition>]
# method-3: [<if output> <if condition> else <else output> <for loop>]
# method-4: [<if output> <if condition> <if condition> <if condition> else <else output>]

In [3]:
def mul(a):
    return(a*a)

ans=mul(10)
ans

100

- lambda is a keyword used to write functions in a single line
- like list comprehension we will write in single line
- it is same analogy
- it will reduce the time complexity

$pattern-1$

- function with one argument

In [18]:
# syntax

# function_name= lambda <argument name>:<return output>
# in above 
# function_name : mul
# argument name : a
# return output : a*a

mul= lambda a : a*a
mul(10)

100

In [20]:
def cube(x):
    return(x**3)

cube(10)

1000

In [22]:
cube= lambda x : x**3
cube(100)

1000000

$pattern-2$

- function with two arguments

In [25]:
# syntax

# <function_name>= lambda <arg1>,<arg2> : return(output)

In [27]:
def add(a,b):
    return(a+b)

add(100,200)

300

In [33]:
add1= lambda a,b:a+b
add1(500,600)

1100

In [35]:
def avg(a,b,c):
    return(round((a+b+c)/3,2))

avg(10,20,26)

19

In [39]:
avg1= lambda a,b,c:round((a+b+c)/3,2)

avg1(10,70,26)

35.33

$pattern-3$

**default argument**

In [47]:
avg2= lambda a,b,c=26:round((a+b+c)/3,2)

avg2(100,29)

51.67

$pattern-4$

- if-else

In [50]:
def max(a,b):
    if a>b:
        return(a)
    else:
        return(b)

max(10,20)

20

In [ ]:
# syntax

# function_name= lambda <arg1>,<arg2>: <if output> <if condition> else <else output>

In [56]:
max1= lambda a,b: a if a>b else b

max1(100,220)

220

**IMPORTANT TOPIC**

$pattern-5$

- List cases

In [59]:
list1=['hyd','mumbai','pune']
# ans= ['Hyd','Mumbai','Pune']

ans=[]
for i in list1:
    ans.append(i.capitalize())

ans

['Hyd', 'Mumbai', 'Pune']

In [61]:
#lambda <variable>: <op>,<iterator>

lambda i : i.capitalize()

In [63]:
lambda i : i.capitalize(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'pune'])

In [65]:
# step-1: #lambda <variable>: <op>
lambda i : i.capitalize()
# step-2: lambda <variable>: <op>,<iterator>
lambda i : i.capitalize(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'mumbai', 'pune'])

**map**

- map is used to combine the function and iterator

In [68]:
# step-3: map(lambda <variable>: <op>,<iterator>)
map(lambda i : i.capitalize(),list1)

In [70]:
# step-4: when we apply the output will store at address
# so apply the list or tuple to see the answer
# list(map(lambda <variable>: <op>,<iterator>))

list(map(lambda i : i.capitalize(),list1))

['Hyd', 'Mumbai', 'Pune']

In [72]:
# step-1: #lambda <variable>: <op>
lambda i : i.capitalize()
# step-2: lambda <variable>: <op>,<iterator>
lambda i : i.capitalize(),list1
# step-3: map(lambda <variable>: <op>,<iterator>)
map(lambda i : i.capitalize(),list1)
# step-4: when we apply the output will store at address
list(map(lambda i : i.capitalize(),list1))

['Hyd', 'Mumbai', 'Pune']

In [74]:
list(map(lambda i : i.capitalize(),list1))

['Hyd', 'Mumbai', 'Pune']

In [76]:
tuple(map(lambda i : i.capitalize(),list1))

('Hyd', 'Mumbai', 'Pune')

-------------------------------------------------------------------------------------------------------------------------

In [88]:
#Q1)  l1=['hyd','chennai','mumbai','pune']
#     ans=['HYD','CHENNAI','MUMBAI','PUNE']

#realcode
#l1=['hyd','chennai','mumbai','pune']
#ans=[i.upper() for i in l1]
#ans


l1=['hyd','chennai','mumbai','pune']
list(map(lambda i : i.upper(),l1))

['HYD', 'CHENNAI', 'MUMBAI', 'PUNE']

In [92]:
#Q2)  l1=['hyd','chennai','mumbai','pune']
#     ans=[0,10,20,30]  multiply index with 10

#l1=['hyd','chennai','mumbai','pune']
#ans=[]
#for i in l1:
#    ans.append(l1.index(i)*10)

#ans

l1=['hyd','chennai','mumbai','pune']
list(map(lambda i : l1.index(i)*19,l1))

[0, 10, 20, 30]

In [122]:
#Q3) str1= 'hello hai how are you'
#    ans=['Hello','Hai','How','Are','You']

#str1= 'hello hai how are you'
#str1.title().split()

str1= 'hello hai how are you'
list(map(lambda i : i.title(),str1.split()))

['Hello', 'Hai', 'How', 'Are', 'You']

In [128]:
#Q4)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['chen#ai','mu#bai']


# l1=['hyd','chen#ai','mu#bai','pune']
# ans=[]
# for i in l1:
#    if '#' in i:
#        ans.append(i)

#ans

l1=['hyd','chen#ai','mu#bai','pune']
list(map(lambda i:'#' in i,l1))

[False, True, True, False]

**filter**

- whenever condition statements

- which means we are filtering the answers based on condition

- map will give boolean outputs, True or False

- True answers we can see by applying filter only

In [131]:
l1=['hyd','chen#ai','mu#bai','pune']
list(filter(lambda i:'#' in i,l1))

['chen#ai', 'mu#bai']

In [138]:
#Q7)  l1=['hyd','chen#ai','mu#bai','pune']
#     ans=['hyd','pune']

# l1=['hyd','chen#ai','mu#bai','pune']
# ans=[]
# for i in l1:
#     if '#' not in i:
#        ans.append(i)

#ans


l1=['hyd','chen#ai','mu#bai','pune']
list(filter(lambda i:'#' not in i,l1))

['hyd', 'pune']

In [134]:
# mistake-1: [dont write if]
# list(filter(lambda i:if '#' in i,l1))

# mistake-2: [dont write the output i]
# list(filter(lambda i:i if '#' in i,l1))

In [136]:
l1=[1,2,3,4,5]
summ=0
for i in l1:
    summ=summ+i

print(summ)

15

**reduce**

- reduce is a method to write all inbuilt functions using lambda method

- it is available in a package called **func tools**

- Level-1: reduce(lambda i:summ+i,list1)

- level-2: reduce(lambda i: summ+i,list1,<initial value>)

- in level-1 by default summ=0

- in level-2 the summ starts with some value

In [147]:
import functools

In [149]:
dir(functools)

['GenericAlias',
 'RLock',
 'WRAPPER_ASSIGNMENTS',
 'WRAPPER_UPDATES',
 '_CacheInfo',
 '_HashedSeq',
 '_NOT_FOUND',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_c3_merge',
 '_c3_mro',
 '_compose_mro',
 '_convert',
 '_find_impl',
 '_ge_from_gt',
 '_ge_from_le',
 '_ge_from_lt',
 '_gt_from_ge',
 '_gt_from_le',
 '_gt_from_lt',
 '_initial_missing',
 '_le_from_ge',
 '_le_from_gt',
 '_le_from_lt',
 '_lru_cache_wrapper',
 '_lt_from_ge',
 '_lt_from_gt',
 '_lt_from_le',
 '_make_key',
 '_unwrap_partial',
 'cache',
 'cached_property',
 'cmp_to_key',
 'get_cache_token',
 'lru_cache',
 'namedtuple',
 'partial',
 'partialmethod',
 'recursive_repr',
 'reduce',
 'singledispatch',
 'singledispatchmethod',
 'total_ordering',
 'update_wrapper',
 'wraps']

In [169]:
import functools
l1=[1,2,3,4,5]
s1=functools.reduce(lambda summ,i:summ+i,l1)
s1

15

In [171]:
import functools
l1=[1,2,3,4,5]
s1=functools.reduce(lambda summ,i:summ+i,l1,900)
s1

915

In [175]:
import functools
l1=[1,2,3,4,5]
s1=functools.reduce(lambda val,i:val*i,l1)
s1

120

In [179]:
from functools import reduce
l1=[1,2,3,4,5]
s1=reduce(lambda val,i:val*i,l1)
s1

120

In [181]:
import functools
l1=[1,2,3,4,5]
s1=functools.reduce(lambda summ,i:summ+i,l1)
s1


import functools
l1=[1,2,3,4,5]
s1=functools.reduce(lambda summ,i:summ+i,l1,900)
s1


from functools import reduce
l1=[1,2,3,4,5]
s1=reduce(lambda val,i:val*i,l1)
s1


import functools as ft      # setting alias name of function: functools
l1=[1,2,3,4,5]
s1=ft.reduce(lambda summ,i:summ+i,l1,900)
s1

915

In [183]:
import functools
functools

In [ ]:
lambda <variable>,<output>
lambda <variable>: <if output> <if condition> else <else output>
map(lambda <variable>: <output>,iterator)
filter(lambda <variable>: <condition>,iterator)
reduce(lambda <var1><var2>: <condition>,iterator)